# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

# Environment
.env
.env.*
!frontend/.env.example

# Virtualenv
.venv/
venv/

# Django
/media/
/staticfiles/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Runtime state store
data/state_store.db/
